#tickets {
    color: white;
    background: #222831;
    padding: 5px;
    border-radius: 10%;
}

#tickets:hover{
    background: royalblue;
    transition: 0.3s;
}

.tickets {
    text-align: center;
    background: #222831;
    padding: 30px;
    color: white;
}